#==============================================================================#
#                                    OCAML                                     #
#==============================================================================#

snippet dub "Make comment dubious" b
(* \begin{dubious}
${0:${VISUAL}}
   \end{dubious} *)
endsnippet

