[user]
	email = bijan@chokoufe.com
	name = Bijan Chokoufe Nejad
[core]
	editor = vim
	excludesfile = /home/bijancn/.gitignore_global
[merge]
	tool = meld
[push]
	default = simple
[color]
	ui = true
[alias]
  ci = commit
[alias]
  st = status
[alias]
  interactive = !git add -p
[alias]
  pullhard = !git fetch --all && git reset --hard origin/master
[alias]
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
[alias]
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
[alias]
  plog = log --graph --decorate --pretty=oneline --abbrev-commit
  ploga = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
