#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Spotify Scaled
GenericName=Music Player
Comment=Spotify streaming music client
Icon=/home/bijancn/bcn_scripts/.local/share/applications/spotify-linux-256.png
Exec=spotify --force-device-scale-factor=1.5 %U
Terminal=false
Type=Application
Categories=Audio;Music;Player;AudioVideo;
MimeType=x-scheme-handler/spotify;
